.navBar, .navBrand {
  margin:0;
  padding:0px;
  background-color: #1a1a1a;
}
.navBrand {
  width: auto;
  display: inline;
}
.input {
  height: auto;
  padding:9px;
}
@media screen and (max-width: 760px) {
  .inline {
    display: inline-block;
  }
}
.inline {
  float: left;
  display: inline-block;
}
